/* ::Breakpoints */
/* ----------------------------------------------------------- */

@mixin bp($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
            @content;
        }
    }

    @else {
        @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`.'+'Please make sure it is defined in `$breakpoints` map.';
    }
}

/* ::Measurement Conversions */
/* ----------------------------------------------------------- */

@function remify($target, $context) {
    @if $target == 0 {
        @return 0;
    }

    @return $target / $context + 0em;
}

@function rem($target, $context: $base-font-size) {
    @return remify($target, $context);
}

@function emify($target, $context) {
    @if $target == 0 {
        @return 0;
    }

    @return $target / $context + 0em;
}

@function em($target, $context: $base-font-size) {
    @return emify($target, $context);
}

/* ::Clearfix */
/* ----------------------------------------------------------- */

@mixin pie-clearfix {

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
