/* ::Base Styles  */
/* ----------------------------------------------------------- */

html {
}

body {
}

img {
    display: block;
    max-width: 100%;
    height: auto;

    &:focus {
        outline: none;
    }
}

ol,
ul {
}
