/* ::Font Face  */
/* ----------------------------------------------------------- 

@font-face {
    font-family: 'BrixSansRegular';
	src: url('https://cdn2.hubspot.net/hubfs/3910974/fonts/brixsansregular.woff2') format('woff2'),
		url('https://cdn2.hubspot.net/hubfs/3910974/fonts/brixsansregular.woff') format('woff'),
		url('https://cdn2.hubspot.net/hubfs/3910974/fonts/brixsansregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2084;
}

*/

/* ::Base Font Styles  */
/* ----------------------------------------------------------- */
*, html {
    // font-family: 'BrixSansRegular';
    -webkit-font-smoothing: antialiased;
}

html {
    font-size: 14px;

    @include bp(medium) {
        font-size: 16px;
    }

    @include bp(large) {
        font-size: 17px;        
    }
}

a {
    text-decoration: none;
}

strong {
    font-weight: bold;
}

sup {
    vertical-align: super;
    font-size: smaller;
}
/* ::Placeholder Text Styles  */
/* ----------------------------------------------------------- */
input::-webkit-input-placeholder {
    
}

input::-moz-placeholder {
    
}

input:-moz-placeholder {   /* Older versions of Firefox */
    
}

input:-ms-input-placeholder {
    
}
